--find-links https://download.pytorch.org/whl/cu121
torchvision
torch-pruning
numpy
matplotlib
tqdm
llama-models
transformers
huggingface_hub
datasets
accelerate
sentencepiece
pandas
pandas-stubs
wandb
typing_extensions>=4.7