--find-links https://download.pytorch.org/whl/cu121
torchvision
torch-pruning
torch
numpy
matplotlib
tqdm
llama-models
transformers
huggingface_hub
datasets
accelerate
sentencepiece
pandas
pandas-stubs
wandb